.main {
  flex-grow: 1;
  padding: 58px 8px 120px;
  background: $dev-color-500;

  @include bp540 {
    padding: 114px 16px 160px;
  }

  @include bp768 {
    padding: 114px 16px 180px;
  }
}

.card__list {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;

  @include bp540 {
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include bp768 {
    grid-gap: 16px;
    grid-template-columns: repeat(5, 1fr);
  }

  @include bp1024 {
    grid-template-columns: repeat(6, 1fr);
  }

  @include bp1280 {
    grid-template-columns: repeat(7, 1fr);
  }

  @include bp1440 {
    grid-template-columns: repeat(8, 1fr);
  }

  &-name {
    max-width: 1680px;
    margin: 16px auto 8px;
    font-size: 24px;
    line-height: 28px;
  }
}
