.main {
  flex-grow: 1;
  padding: 58px 8px 120px;
  background: #3e424a url("./../../../public/images/backgrounds/altay.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include bp540 {
    padding: 114px 16px 160px;
  }

  @include bp768 {
    padding: 114px 16px 180px;
  }
}

.card__list {
  display: grid;
  grid-auto-rows: minmax(max-content, 1fr);
  grid-gap: $size;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;

  @include bp540 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include bp768 {
    grid-template-columns: repeat(5, 1fr);
  }

  @include bp1024 {
    grid-gap: $size * 2;
    grid-template-columns: repeat(6, 1fr);
  }

  @include bp1280 {
    grid-template-columns: repeat(7, 1fr);
  }

  @include bp1440 {
    grid-template-columns: repeat(8, 1fr);
  }

  &-name {
    @include font-style(16px, 140%, 400);

    max-width: 1680px;
    margin: $size * 3 auto $size * 2;
    color: $color-white;
    text-shadow: 1px 1px 1px rgba($color-black, 0.5);
  }
}
