.main {
  flex-grow: 1;
  padding: 50px 8px 120px;
  background: #3e424a url("./../../../public/images/backgrounds/altay.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include bp540 {
    padding: 50px 16px 160px;
  }

  @include bp768 {
    padding: 114px 16px 180px;
  }
}

.card__list {
  display: grid;
  grid-auto-rows: minmax(max-content, 1fr);
  grid-gap: $size;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;

  @include bp540 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include bp768 {
    grid-template-columns: repeat(5, 1fr);
  }

  @include bp1024 {
    grid-gap: $size * 2;
    grid-template-columns: repeat(6, 1fr);
  }

  @include bp1280 {
    grid-template-columns: repeat(7, 1fr);
  }

  @include bp1440 {
    grid-template-columns: repeat(8, 1fr);
  }

  &-name {
    @include font-style($size * 3, $size * 4, 900);

    display: flex;
    align-items: center;
    position: relative;
    max-width: 1680px;
    margin: $size * 4 auto $size * 2;
    color: $color-white;
    text-shadow: 1px 1px 2px rgba($color-black, 0.5);
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    background: $color-white;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba($color-black, 0.5);
    cursor: pointer;
  }

  &-desc {
    @include font-style(14px, 140%, 400);

    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    width: auto;
    max-width: 1680px;
    height: auto;
    max-height: 50vh;
    margin: 0 16px;
    padding: $size * 2;
    transition: $transition;
    background: $color-white;
    color: $color-black;
    box-shadow:
      0 4px 5px -2px rgb(40, 40, 40, 0.20),
      0 7px 10px 1px rgb(40, 40, 40, 0.14),
      0 2px 16px 1px rgb(40, 40, 40, 0.12);
    text-shadow: none;
    opacity: 0;
    visibility: hidden;
    z-index: 50;

    @include bp768 {
      top: 0;
      left: unset;
      right: unset;
    }

    &-text {
      padding-bottom: 24px;
      overflow: auto;

      &.has-overflow {
        &::after {
          position: absolute;
          left: 0;
          bottom: 42px;
          width: 100%;
          height: 24px;
          background: rgb(255,255,255);
          background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 80%);
          content: '';
        }
      }

      &.no-overflow {
        padding-bottom: 0;
      }
    }

    &._isVisible {
      opacity: 1;
      visibility: visible;
    }

    &-close {
      display: block;
      margin-top: 8px;
      color: $color-blue;
      cursor: pointer;
    }
  }
}
