.footer {
  background-color: $dev-color-800;

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 10px;

    @include bp540 {
      padding: 16px;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: $dev-color-900;
    color: $dev-color-600;

    &-react {
      font-size: 12px;

      a {
        color: $dev-color-500;
      }
    }

    &-coffee {
      display: flex;
    }
  }
}
