.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  height: 50px;
  padding: 0 $size;
  background: $color-white;

  @include bp540 {
    padding: $size $size * 2 0;
  }

  @include bp1440 {
    padding: $size * 2 $size * 4 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 30px;

  img {
    width: 100%;
    height: auto;
  }
}

.button {
  display: block;
  width: 100px;
  height: 20px;
  border: none;
  outline: none;
}

.buttons {
  display: none;

  @include bp768 {
    display: grid;
    grid-gap: $size;
    grid-template-columns: repeat(2, 1fr);
  }
}

.reg,
.login {
  background: $dev-color-600;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 28px;
  height: 28px;
  transition: $transition ease-in-out;
  border: none;
  outline: none;
  background: transparent;

  @include bp768 {
    display: none;
  }

  &::before,
  &::after {
    position: relative;
    width: 28px;
    height: 2px;
    transition: $transition ease-in-out;
    background: $dev-color-900;
    content: "";
  }

  &::before {
    top: -4px;
  }

  &::after {
    top: 4px;
  }

  &._isActive {
    transform: rotate(270deg);

    &::before {
      top: 2px;
      transform: rotate(45deg);
      background: $dev-color-900;
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
      background: $dev-color-900;
    }
  }
}
