.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  z-index: 80;
  width: 100%;
  height: auto;
  padding: $size * 2;
  transform: translateX(-100%);
  transition: 200ms ease-in-out;
  background: $color-white;
  overflow: hidden;

  @media (min-width: 766px) {
    transition: 0ms;
  }

  @include bp768 {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    position: fixed;
    bottom: unset;
    transform: translate(0);
    overflow-x: auto;
  }

  @include bp1440 {
    padding: $size + 4 $size * 4;
  }

  &._isOpen {
    transform: translateX(0);
  }
}

.link {
  margin-bottom: 12px;
  padding: $size $size * 2;
  transition: $transition;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;

  @include bp768 {
    margin-right: 12px;
    margin-bottom: 0;
  }

  &:hover {
    background-color: rgba($color-blue, 0.2);
  }

  &._active {
    background-color: $color-blue;
    color: $color-white;
  }
}
