// colors
$color-white: #fff;
$color-black: #000;
$color-text: #3c4043;

// colors for dev
$dev-color-100: #f8f9fa;
$dev-color-200: #e9ecef;
$dev-color-300: #dee2e6;
$dev-color-400: #ced4da;
$dev-color-500: #adb5bd;
$dev-color-600: #6c757d;
$dev-color-700: #495057;
$dev-color-800: #343a40;
$dev-color-900: #212529;

// fonts
$font-family: "Roboto";

// eight pixel ideilogy
$size: 8px;

// other
$transition: 300ms;
