// general
@import './vars';
@import './mixins';

// base rules
@import './base_rules/normalize';
@import './base_rules/base';
@import './base_rules/special-classes';

// state rules
@import './state_rules/display';

// theme rules
@import './theme_rules/typography';

// layout rules
@import './layout_rules/body';
@import './layout_rules/header';
@import './layout_rules/navigation';
@import './layout_rules/content';
@import './layout_rules/footer';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
