@import "../mixins";
@import "../vars";

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 60%;
  background: $dev-color-800;
  color: #fff;

  &:last-child {
    grid-column: 1 / -1;
    padding-top: 30%;

    @include bp540 {
      grid-column: auto;
      padding-top: 60%;
    }
  }
}
