@import "../mixins";
@import "../vars";

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  min-height: 100px;
  transition: $transition;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  background-color: $color-white;
  color: #1c1c1c;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.08);

  &:hover {
    border: 1px solid #3e424a;
  }

  &__picture {
    padding-top: 60%;
    border-radius: 3px 3px 0 0;

    &._thumbnail {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &._icon {
      background-position: center;
      background-size: 100% 80%;
      background-repeat: no-repeat;
    }

    &._empty {
      padding-top: 0;
    }
  }

  &__title {
    @include font-style(14px, 120%, 500);

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: $size;
    text-align: center;
    word-break: break-word;

    span {
      display: -webkit-box;
      max-width: 96%;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}
